.hero-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Assets/heropour.png");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-container {
  background-color: #6ed6db;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.content {
  text-align: center;
  width: 50%;
  flex: 1;
}

.content img {
  height: auto;
  width: 100%;
}

@media (width <= 768px) {
  .content-container {
    display: block;
  }
  .content {
    width: 100%;
    justify-content: center;
  }
}

.content-button {
  border: none;
  background-color:rgb(30, 53, 255);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.active, .content-button:hover {
  background-color:rgb(58, 77, 247);
}

.accordion-container {
  background-color: white;
  color: black;
}

.accordion {
  background-color: white;
  color: #444;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color:rgb(255, 125, 111);
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\02795';
  font-size: 13px;
  color: black;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796";
}

.footer-container {
  background-color: #6ed6db;
  list-style: none;
  width: 100%;
  height: 100%;
}

.footer-container a {
  text-decoration: none;
  padding-top: 10px;
  color: black;
}

li {
  margin-bottom: 5xpx;
  padding: 5px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1;
}

.footer-linklist {
  margin: 0px 25px 0px;
}

.footer-linklist a:hover {
  color: rgb(30, 53, 255);
}

.footer-map {
  margin: 15px;
  height: 250px;
  width: 600px;
}

.copyright-container {
  position: relative;
  padding: 20px;
}

.copyright {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}